/tst-sdnet-esbin1.properties
/prod-sdnet-esbin.properties
/tst-sdnet-esbin.properties
/int-sdnet-esbin1.properties
/int-sdnet-esbin2.properties
/prod-sdnet-esbin1.properties
/prod-sdnet-esbin2.properties
